---
# Syncs commercial app catalogue profile bundles from gentian-pro into the cluster.
#
# One Argo CD Application per profiles/<name>/ directory (kustomization.yaml required).
# Complements gentian-catalogue (OSS profiles from gentian-apps).
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: gentian-catalogue-pro
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - git:
      repoURL: %REPO_URL%
      revision: %BRANCH%
      directories:
      - path: profiles/*
  template:
    metadata:
      name: 'catalogue-pro-{{ .path.basename }}'
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      project: gentian
      source:
        repoURL: %REPO_URL%
        targetRevision: %BRANCH%
        path: '{{ .path.path }}'
      destination:
        server: https://kubernetes.default.svc
        namespace: gentian-system
      ignoreDifferences:
      - group: gentianos.io
        kind: AppProfile
        jsonPointers:
        - /metadata/annotations/argocd.argoproj.io~1tracking-id
      - group: gentianos.io
        kind: AppProfile
        jqPathExpressions:
        - .spec.ingress.clusterIssuer
        - .spec.kernelRequirements.database.allowDynamicDatabaseCreation
        - .spec.additionalIngresses[]?.clusterIssuer
        - .spec.browserProxy[]?.authMode
        - .spec.browserProxy[]?.stripPrefix
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=false
        - ServerSideApply=true
